@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

$--main-background: hsl(233, 47%, 7%);
$--card-background: hsl(244, 38%, 16%);
$--accent: hsl(277, 64%, 61%);
$--accent-transparent: hsla(277, 64%, 61%, 0.5);

$--main-heading: hsl(0, 0%, 100%);
$--main-paragraph: hsla(0, 0%, 100%, 0.75);
$--stat-heading: hsla(0, 0%, 100%, 0.6);

$--font-size: 0.9375rem;

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

body {
  background-color: $--main-background;
  color: $--main-paragraph;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20vh;
}

.accent {
  color: $--accent;
}

.attribution {
  color: $--main-heading;
  text-align: center;
  margin-top: 5rem;

  a {
    color: $--accent;
    font-weight: 700;
    text-decoration: none;
  }
}

.card {
  background-color: $--card-background;
  border-radius: 0.5rem;
  max-width: 22rem;
  text-align: center;

  &__img {
    background-image: url('../../images/image-header-mobile.jpg');
    background-size: cover;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    height: 17.5rem;
    position: relative;
    margin-bottom: 2.5rem;
    width: 100%;

    &::before {
      content: '';
      position: absolute;
      inset: 0;
      background-color: $--accent-transparent;
      border-top-left-radius: 0.5rem;
      border-top-right-radius: 0.5rem;
      filter: brightness(0.3) contrast(1) saturate(5);
    }
  }

  &__body {
    &__title {
      color: $--main-heading;
      padding: 0 1rem;
      margin-bottom: 1.5rem;

      h1,
      span {
        font-weight: 700;
      }
    }

    &__text {
      padding: 0 2.5rem;
      margin-bottom: 2.5rem;
    }

    &__stats {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      margin-bottom: 2.5rem;
    }
  }
}

.stats {
  &__title {
    color: $--main-heading;
    margin-bottom: 0.25rem;

    h2 {
      font-weight: 700;
    }
  }

  &__text {
    p {
      font-family: 'Lexend Deca', sans-serif;
    }
  }
}

@media (min-width: 67.5em) {
  .card {
    display: flex;
    flex-direction: row-reverse;
    max-width: none;
    text-align: left;

    &__img {
      background-image: url('../../images/image-header-desktop.jpg');
      border-top-left-radius: 0;
      border-bottom-right-radius: 0.5rem;
      height: auto;
      margin-bottom: 0;

      &::before {
        content: '';
        border-top-left-radius: 0;
        border-bottom-right-radius: 0.5rem;
      }
    }

    &__body {
      &__title {
        margin-top: 5rem;
        padding: 0 5rem 0 5rem;
      }

      &__text {
        margin-bottom: 5rem;
        padding: 0 5rem 0 5rem;
      }

      &__stats {
        flex-direction: row;
        margin-bottom: 3rem;
        padding: 0 5rem 0 5rem;
      }
    }
  }
}
